{% extends "base.html" %}
{% load i18n %}

{% block head-title %}{% trans "Kallisto powering Spacelog" %}{% endblock %}
{% block body-class %}home{% endblock %}

{% block content %}
<h1>
  {% blocktrans with name=mission.name %}<b>We are working on </b>{{ name }}{% endblocktrans %}
  <img src='{{ mission.patch.url }}' width='{{ mission.patch_width }}' height='{{ mission.patch_height }}' alt='{% blocktrans with start=mission.start end=mission.end %}from {{ start }} to {{ end }}{% endblocktrans %}'>
</h1>

{% if request.user.is_authenticated %}
<p><a class='proceed' href='{% url "mission-clean-next" slug=mission.short_name %}'>{% trans "Start cleaning" %}</a></p>
{% else %}
<p><a class='proceed' href='{% url "register" %}'>{% trans "Register to start cleaning" %}</a></p>
{% endif %}
{% endblock %}
