{% extends "base.html" %}
{% load i18n %}

{% block head-title %}{% trans "Kallisto powering Spacelog" %}{% endblock %}
{% block body-class %}home{% endblock %}

{% block content %}
{% if mission %}
<h1>
  {% blocktrans with name=mission.name %}<b>We are working on </b>{{ name }}{% endblocktrans %}
  <img src='{{ mission.patch.url }}' width='{{ mission.patch_width }}' height='{{ mission.patch_height }}' alt='{% blocktrans with start=mission.start end=mission.end %}from {{ start }} to {{ end }}{% endblocktrans %}'>
</h1>
<p class='status'>Together we've cleaned {{ mission.approved_pages.count }} out of {{ mission.pages.count }} pages of this mission.</p>

{% if request.user.is_authenticated %}
<p><a class='proceed' href='{% url "mission-clean-next" slug=mission.short_name %}'>{% trans "Start cleaning" %}</a></p>

{% if mission.wiki %}
{% blocktrans with wiki=mission.wiki %}
<p>If you see any useful information (eg: names of CAPCOMs, quotes or key moments that we'd want to highlight, glossary terms) that should be pulled out of the transcript, please add it to the <a target='mission-wiki' href='{{ wiki }}'>mission wiki page</a> (you'll need a github account, but it's free to sign up).</p>
{% endblocktrans %}
{% endif %}

{% if request.user.page_revisions.count == mission.pages.count %}
<p class='info'>If you keep getting back to this page, it means you've worked on all the pages in the current mission. We'll announce the next one on <a href='https://groups.google.com/forum/#!forum/spacelog'>the mailing list</a> and on <a href='https://twitter.com/spacelog'>Twitter</a> as soon as we're ready.</p>
{% endif %}

{% else %}
<p><a class='proceed' href='{% url "register" %}'>{% trans "Register to start cleaning" %}</a></p>
{% endif %}

{% else %}
<h1>{% trans "We're not working on any missions right now." %}</h1>
{% endif %}

<div class='leaderboards'>
<h1>Leaderboards</h1>

<section class='leaderboard'>
  <h2>Recently</h2>

  <ol>
    {% for user in leaderboard_recent %}
    <li>{{ user.name }}</li>
    {% endfor %}
  </ol>
</section>

<section class='leaderboard'>
  <h2>All time</h2>

  <ol>
    {% for user in leaderboard_overall %}
    <li>{{ user.name }}: {{ user.pages_cleaned|add:user.pages_approved }} cleaned.</li>
    {% endfor %}
  </ol>
</section>
</div>
{% endblock %}
