/* Reset */
abbr,acronym{border:0;font-variant:normal;}
address,b,caption,cite,code,dfn,em,i,strong,var{font-style:inherit;font-weight:inherit;}
blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
body{-webkit-font-smoothing:antialiased;}
caption,th{text-align:left;}
code,kbd,pre,samp,tt{font-family:monospace;line-height:100%;}
fieldset,img{border:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:inherit;}
html{background:#fff;color:#000;}
input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;}
li{list-style:none;}
q:after,q:before{content:'';}
sub{vertical-align:text-bottom;}
sup{vertical-align:text-top;}
table{border-collapse:collapse;border-spacing:0;}
th{font-style:normal;font-weight:normal;}
a{color:#00abd7;text-decoration:none;}
a:active,a:focus,a:hover{text-decoration:underline;}
/* Base */
body {
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 27px;
}
h1 {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px;
}
b {
    position: absolute;
    left: -9999px;
}
.proceed {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    display: block;
    color: blue;
    background-color: lightblue;
    width: 20em;
    max-width: 90%;
    margin: 9px auto;
    padding: 5px 20px;
    border-radius: 5px;
    text-align: center;
}
.warning {
    color: red;
    text-align: center;
}
.info {
    font-style: italic;
}
/* Chrome */
header {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    color: white;
    background-color: #333;
    padding: 9px;
    margin: 0 0 22px;
    font-size: 14px;
    line-height: 18px;
}
header:after,
header p:after {
    content: " ";
    display: table;
    clear: both;
}
header h1 {
    display: block;
    float: left;
    text-align: left;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
}
header p {
    display: block;
    float: right;
    cursor: pointer;
}
header p i,
header p .pages-cleaned {
    display: block;
    float: right;
}
header p .pages-cleaned {
    margin-right: 10px;
    color: lightblue;
    background-color: blue;
    padding: 0 5px;
    border-radius: 5px;
}
header .help {
    text-transform: capitalize;
}
header .help::before {
    content: '•';
    padding: 0 0.75em;
}
html.js-ready header p i {
    color: lightblue;
}
html.js-capable header ul.user-options,
html.js-ready header ul.user-options {
    clear: both;
    display: none;
    margin: 36px -9px 0;
}
html.js-ready header ul.user-options li {
    display: block;
    color: black;
    background-color: white;
    padding: 0 9px 4px;
}
html.js-ready header ul.user-options li:hover {
    color: white;
    background-color: black;
}
html.js-ready header ul.user-options li a {
    color: inherit;
    text-decoration: none;
    display: block;
}

html.js-ready header ul.anon.user-options {
    clear: none;
    display: block;
    float: right;
    margin: 0;
    border: none;
}
html.js-ready header ul.anon.user-options:after {
    content: " ";
    display: table;
    clear: both;
}
html.js-ready header ul.anon.user-options li {
    float: right;
    color: lightblue;
    background-color: transparent;
    padding: 0 0 0 9px;
}
html.js-ready header ul.anon.user-options li:hover {
    background-color: inherit;
}
/* Forms */
.account #content {
    width: 90%;
    margin: 18px auto 0;
}
.account form input {
    display: block;
    clear: right;
    width: 100%;
}
.account form {
    margin-top: 18px;
    margin-bottom: 18px;
}
.account form button {
    width: auto;
    margin: 18px 0 0 auto;
    border: none;
    font-size: 18px;
}
.account.logout form button {
    margin: 18px auto 0;
}
.account form .errorlist {
    float: right;
    color: red;
}
/* Homepage */
.home #content {
    max-width: 900px;
    margin: 0 auto;
}
.home #content a {
    color: blue;
}
.home h1 img {
    display: block;
    margin: 9px auto;
}
.home .status {
    text-align: center;
}
.home #content p {
    max-width: 90%;
    margin: 0 auto;
}
.home .leaderboards h2 {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 3px;
}
.home .leaderboard ol {
    width: 90%;
    margin: 0 auto;
}
@media (min-width: 640px) {
    .home .leaderboards {
        width: 90%;
        margin: 36px auto 0;
    }
    .home .leaderboards h1 {
        margin-bottom: 24px; /* 18px + 6px (line-height - font-size) */
    }
    .home .leaderboards h2 {
        text-align: left;
    }
    .home .leaderboards:after {
        content: " ";
        display: table;
        clear: both;
    }
    .home .leaderboard {
        float: left;
        box-sizing: border-box;
        width: 45%;
        margin-right: 10%;
    }
    .home .leaderboard + .leaderboard {
        margin-right: 0;
    }
    .home .leaderboard ol {
        width: 100%;
    }
}
.home .leaderboard ol li {
    list-style: decimal inside;
}

/* Help page */
.help #content {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
.help #content p,
.help #content ul,
.help #content ol,
.help #content pre {
    margin-bottom: 1em;
}
.help #content ul,
.help #content ol,
.help #content pre {
    margin-left: 2em;
}
.help #content ul li {
    list-style: circle;
}
.help #content ol li {
    list-style: decimal;
}
.help #content li {
    margin-bottom: 0.5em;
}
.help #content h2 {
    font-weight: bold;
    margin: 2em 0 1em;
}

/* Cleaning page */
.clean.page #content {
    margin: 0 auto;
    max-width: 1900px;
}
.clean.page #content h1 a {
    color: blue;
    font-size: 18px;
    font-style: italic;
}
.clean.page h2 {
    text-align: center;
    font-family: "Helvetica Neue", "Arial", sans-serif;
}
.clean.page div + h2 {
    margin-top: 18px;
}
.clean.page #original {
    width: 90%;
    padding: 0;
    border: 1px solid black;
    margin: 0 auto;
}
.clean.page #original img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}
.clean.page #clean {
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
.clean.page #clean textarea,
.clean.page #clean div {
    border: 1px solid black;
    width: 100%;
    font-size: 11px;
    display: block;
    margin: 0;
    padding: 33px 0;
}
.clean.page #clean textarea {
    font-family: 'Inconsolata', monospace;
    line-height: 175%;
}
.clean.page form button {
    width: auto;
    margin: 18px 0 18px auto;
    border: none;
    font-size: 18px;
}

/* Cleaning page for desktop at various sizes */
@media (min-width: 960px) {
    .clean.page #clean textarea,
    .clean.page #clean div {
        font-size: 14px;
        padding: 42px 0;
    }
}

@media (min-width: 1300px) {
    .clean.page h2 {
        position: absolute;
        left: -9999px;
    }

    .clean.page #content:after {
        content: " ";
        display: table;
        clear: both;
    }

    .clean.page #original,
    .clean.page #clean {
        float: left;
        width: 49%;
    }

    .clean.page #original {
        margin-right: 1%;
    }

    .clean.page #clean textarea,
    .clean.page #clean div {
        font-size: 14px;
        padding: 36px 0;
    }
}

@media (min-width: 1750px) {
    .clean.page #clean textarea,
    .clean.page #clean div {
        font-size: 15px;
        padding: 42px 0;
    }
}

@media (min-width: 1900px) {
    .clean.page #clean textarea,
    .clean.page #clean div {
        font-size: 18px;
        padding: 45px 0;
    }
}
