{% extends "cape/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block head-title-sitename %}Kallisto{% endblock %}

{% block head-css-stylesheet %}
<link rel='stylesheet' type='text/css' href='{% static "css/base.css" %}'>
<link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body-sheath %}
  <header>
    {% url "homepage" as homepage_url %}
    <h1>{% blocktrans %}<a href='{{ homepage_url }}'>Kallisto</a> powering <a href='http://spacelog.org/' target='_blank'>Spacelog</a>.{% endblocktrans %}</h1>

    {% spaceless %}
      <p class='help'>
        <a href='{% url "help" %}'>
          {% blocktrans %}
            <b>Get </b>help<b> using Kallisto</b>
          {% endblocktrans %}
        </a>
      </p>
    {% endspaceless %}

    {% if request.user.is_authenticated %}
      <p class='user'>
        {% blocktrans with name=request.user.name count cleaned=request.user.page_revisions.count %}
          <i>{{ name }}</i><b>, you have cleaned </b><span class='pages-cleaned'>1</span><b> page.</b>
        {% plural %}
          <i>{{ name }}</i><b>, you have cleaned </b><span class='pages-cleaned'>{{ cleaned }}</span><b> pages.</b>
        {% endblocktrans %}
      </p>

      {% url "logout" as logout_url %}
      {% url "password_change" as password_change_url %}
      {% blocktrans %}
      <ul class='user-options'>
        <li><a href='{{ logout_url }}'>Logout</a></li>
        <li><a href='{{ password_change_url }}'>Change password</a></li>
      </ul>
      {% endblocktrans %}
    {% else %}
      {% url "login" as login_url %}
      {% url "register" as register_url %}
      {% blocktrans %}
      <ul class='anon user-options'>
        <li><a href='{{ login_url }}'>Login</a></li>
        <li><a href='{{ register_url }}'>Register</a></li>
      </ul>
      {% endblocktrans %}
    {% endif %}
  </header>
  <div id='content'>{% block content %}{% endblock %}</div>
{% endblock %}

{% block javascript-libraries %}
  <script src='http://code.jquery.com/jquery-1.11.2.min.js'></script>
  <script src='{% static "js/base.js" %}'></script>
{% endblock %}
