{% extends "base.html" %}
{% load i18n %}

{% block head-title-page %}{% trans "Log out" %}{% endblock %}
{% block body-class %}account logout{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h1>{% trans "Do you want to log out?" %}</h1>

    <form id='logout-form' method='POST' action='{% url "logout" %}'>
      {% csrf_token %}
      <button class='proceed' type='submit'>{% trans "Yes, log me out" %}</button>
    </form>
  {% else %}
    <h1>{% trans "Already logged out." %}</h1>

    <p><a class='proceed' href='{% url "login" %}'>{% trans "Log in again?" %}</a></p>
  {% endif %}
{% endblock %}
