{% extends "base.html" %}
{% load i18n %}

{% block head-title-page %}{% trans "Forgotten password" %}{% endblock %}

{% block content %}
  <h1>{% trans "Password reset" %}</h1>

  {% if validlink %}
    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form action="" method="post">
      {% csrf_token %}

      {{ form.non_field_errors }}

      {{ form.new_password1.label_tag }}
      {{ form.new_password1.errors }}
      {{ form.new_password1 }}

      {{ form.new_password2.label_tag }}
      {{ form.new_password2.errors }}
      {{ form.new_password2 }}

      <button type='submit'>{% trans "Change" %}</button>
    </form>
  {% else %}
    <p>
      {% trans "The password reset link was invalid, possibly because it has already been used." %}
      <a href='{% url "password_reset" %}'>{% trans "Try again?" %}</a>
    </p>
  {% endif %}
{% endblock %}
