{% extends "base.html" %}
{% load i18n %}

{% block head-title-page %}{% trans "Forgotten your password?" %}{% endblock %}
{% block body-class %}account{% endblock %}

{% block content %}
  <h1>{% trans "Forgotten your password?" %}</h1>
  <p>{% trans "We'll send you an email in a few moments so you can choose a new password." %}</p>
  <form action="" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {{ form.email.label_tag }}
    {{ form.email.errors }}
    {{ form.email }}

    <button class='proceed' type='submit'>{% trans "Continue" %}</button>
  </form>
{% endblock %}
