{% extends "base.html" %}
{% load i18n %}

{% block head-title-page %}{% trans "Change your password" %}{% endblock %}
{% block body-class %}account{% endblock %}

{% block content %}
  <form method='POST' id='password-form'>
    {% csrf_token %}
    {{ form.old_password.label_tag }}
    {{ form.old_password.errors }}
    {{ form.old_password }}

    {{ form.new_password1.label_tag }}
    {{ form.new_password1.errors }}
    {{ form.new_password1 }}

    {{ form.new_password2.label_tag }}
    {{ form.new_password2.errors }}
    {{ form.new_password2 }}

    <button class='proceed' type="submit">{% trans "Save changes" %}</button>
  </form>
{% endblock %}
