{% extends "base.html" %}
{% load i18n %}

{% block head-title-page %}{% trans "Sign up" %}{% endblock %}
{% block body-class %}account{% endblock %}

{% block content %}
  <h1>{% trans "Sign up" %}</h1>

  <p>{% trans "Just give us your email, a password, and the name you'd like us to show on the site (eg for league tables)." %}</p>

  <form method='POST' id='register'>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {{ form.email.label_tag }}
    {{ form.email.errors }}
    {{ form.email }}

    {{ form.name.label_tag }}
    {{ form.name.errors }}
    {{ form.name }}

    {{ form.password.label_tag }}
    {{ form.password.errors }}
    {{ form.password }}
    
    <button class='proceed' type='submit'>{% trans "Sign up" %}</button>
  </form>

  <p>
    {% blocktrans %}By creating an account on Kallisto you grant permission for your work to be released by <a target='_blank' href='http://spacelog.org/'>Spacelog</a> under a <a target='_blank' href='http://creativecommons.org/publicdomain/zero/1.0/'>Creative Commons CC-0</a> license, allowing everyone to enjoy and build on that work. We will credit you for your work on the relevant Spacelog mission pages.{% endblocktrans %}
  </p>
{% endblock %}
